.table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(130, 50, 204, 0.2),
    0px 1px 1px rgba(127, 22, 197, 0.2), 0px 2px 1px rgba(117, 50, 204, 0.2);
}

td,
th {
  width: 2%;
}

.title {
  background-color: rgba(143, 63, 209, 0.699);
  padding: 5px 0px;
}
.label {
  color: white;
  padding: 10px 0px;
}

th {
  padding: 5px 0px;
  color: rgba(36, 15, 68, 0.856);
  box-shadow: 0px 1px 3px rgba(130, 50, 204, 0.2),
    0px 1px 1px rgba(127, 22, 197, 0.2), 0px 2px 1px rgba(117, 50, 204, 0.2);
}

tr {
  border: 1px solid white;
}
tr:nth-child(2n) {
  background-color: rgba(215, 184, 235, 0.664);
}

.table_btn {
  background-color: inherit;
  outline: none;
  padding: 3px 5px;
  border-radius: 5px;
  border: none;
}

.table_btn:last-child {
  margin-left: 10px;
}

.table_btn:hover,
.table_btn:focus,
.table_btn:active {
  background-color: inherit;
  outline: none;
  box-shadow: 0 0 10px rgb(71, 24, 133);
}

.table_update {
  display: inline-block;
  padding: 3px 5px;
}
.table_update:hover,
.table_update:focus {
  box-shadow: 0 0 10px rgb(71, 24, 133);
  border-radius: 5px;
}
